/// 

@import "variables.scss";

ol, ul {
    list-style-type: none;
}
ul {
    margin: 0px;

    li{
        line-height: 30px;

        &:hover {
            @include transform(2);
        }
    }
}